# Virtual envs
*.env
podcast_web_app/venv/

# Python artifacts
__pycache__/
*.py[cod]
*.swp

# Data, logs, chunks, text files
*.log
podcast_web_app/git_instructions.txt
todolist.txt
# IDE files
.vscode/

