[
  {
    "name": "REAL AF with Andy Frisella",
    "url": "https://mfceoproject.libsyn.com/rss2"
  },
  {
    "name": "The Joe Rogan Experience",
    "url": "https://feeds.megaphone.fm/GLT1412515089"
  },
  {
    "name": "Fantasy Footballers - Fantasy Football Podcast",
    "url": "https://feeds.simplecast.com/sw7PGWfw"
  }
]